* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
    font-size: 18px;

    /* Colors */
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-blue-white: #0AACDC;
    --color-blue-dark: #0072CA;
    --color-purple-white: #3F51B5;
    --color-purple-dark: #33439B;
    --color-gray-mat: #7B8591;
    --color-gray-white: #EAEAEA;
    --color-gray: #707070;
    --color-gray-darker: #303336;
    --color-green: #40BE65;
    --color-yellow: #FFD430;
    --color-cian: #008BB4;
    --color-red: #FF4967;
    --color-brown: ;
}

ul { list-style-type: none; }

textarea { resize: none; }

fieldset { border: 0; }

a { text-decoration: none; }

button, input[type='submit'] {
    width: 42px;
    height: 42px;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

::placeholder {
    color: var(--color-white);
    font-size: 1rem;
    font-weight: bold;
}

/* Default Styles */

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

/* Header */

.header {
    width: 100%;
    padding: 20px 2%;
    background-color: var(--color-blue-white);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header__form-search {
    width: 100%;
    max-width: 220px;
    position: relative;
}

.header__search-input {
    width: 100%;
    height: 42px;
    border-radius: 6px;
    background-color: var(--color-cian);
    color: var(--color-white);
    display: inline-block;
    border: 0;
    padding-left: 42px;
}

.header__search-btn {
    position: absolute;
    left: 0;
    top: 0;
    color: var(--color-white);
    font-size: 1.25rem;
}

/* Main Infos(Slide) */

.main-info {
    width: 100%;
    height: 750px;
    margin: 48px auto;
    border-radius: 12px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.main-info__bg-black {
    width: 100%;
    height: 100%;
    z-index: 2;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.5);
}

.main-info__author {
    width: 250px;
    display: flex;
    align-items: center;
    position: absolute;
    left: 32px;
    top: 32px;
}

.main-info__author-name {
    margin-left: 16px;
    color: var(--color-white);
    font-weight: 600;
}

.main-info__fav {
    position: absolute;
    right: 32px;
    top: 32px;
}

.main-info__content {
    width: 100%;
    max-width: 700px;
    position: absolute;
    left: 32px;
    bottom: 80px;
}

.main-info__content-title {
    font-size: 4.5rem;
    color: var(--color-white);
}

.main-info__content-desc {
    color: var(--color-white);
    margin: 24px 0;
    font-size: 1.25rem;
}

.main-info__slick-btns {
    width: 80px;
    position: absolute;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
}

.main-info__slick {
    width: calc(100% / 3 - 8px);
    height: 12px;
    margin: 0 2px;
    display: inline-block;
    border-bottom: 4px solid rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.main-info__slick--active {
    border-bottom: 4px solid var(--color-white);
}

@media (max-width: 768px) {
    :root {
        font-size: 16px;
    }

    /* Main Infos(Slide) */
    
    .main-info__content {
        max-width: 80%;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        margin: 0 auto;
    }

    .main-info__content-title {
        font-size: 3.5rem;
        color: var(--color-white);
    }
}