<%- include('partials/header.html') %>

    <aside class="main-info container" style="background-image: url('<%= postsRefactored[0].img %>');">
        <div class="main-info__bg-black"></div><!--main-info__bg-black-->
        <header class="main-info__author">
            <img class="main-info__author-img" src="<%= postsRefactored[0].authorImg %>" alt="<%= postsRefactored[0].author %>" />
            <span class="main-info__author-name"><%= postsRefactored[0].author %></span>
        </header><!--main-info__author-->
        <button class="main-info__fav">
            <img src="/public/assets/imgs/heart.png" alt="Favoritar notícia" />
        </button>

        <main class="main-info__content">
            <a href="<%= postsRefactored[0].slug %>">
                <h2 class="main-info__content-title"><%= postsRefactored[0].title %></h2>
            </a>
            <p class="main-info__content-desc"><%- postsRefactored[0].contentResume %></p>
        </main><!--main-info__content-->

    <div class="main-info__slick-btns">
        <span class="main-info__slick main-info__slick--active"></span>
        <span class="main-info__slick"></span>
        <span class="main-info__slick"></span>
    </div>
    </aside><!--main-info-->

    <section class="last-news">
        <h1 class="last-news__title">Últimas publicações</h1>

        <div class="last-news__grid">
            <% for(let i = 1; i <= 2; i++) { %>
                <article class="last-news__news">
                    <img class="last-news__img" src="<%= postsRefactored[i].img %>" alt="<%= postsRefactored[i].title %>" />
    
                    <div class="last-news__content">
                        <h4 class="last-news__category"><%= postsRefactored[i].category %></h4>
                        <h3 class="last-news__title-new my-16"><%= postsRefactored[i].title %></h3>
                        
                        <p class="last-news__desc-new">
                            <%- postsRefactored[i].contentResume %>
                        </p>
                        
                        <a class="last-news__link-post" href="<%= postsRefactored[i].slug %>">Saiba mais</a>
                    </div><!--last-news__content-->
                </article><!--last-news__news-->
            <% } %>


            <aside class="last-news__more-views">
                <header class="last-news__more-views__header">
                    <h2>As mais lidas</h2>
                </header><!--last-news__more-views__header-->

                <% for(let i = 0; i < mostNews.length; i++) { %>
                    <article class="last-news__more-views__view">
                        <img class="more-views__view__img" src="<%= mostNews[i].img %>" alt="<%= mostNews[i].title %>" />

                        <main class="last-news__more-views__view__content">
                            <h2 class="more-views__view__content__category"><%= mostNews[i].category %></h2>

                            <p class="more-views__view__content__desc">
                                <%- mostNews[i].contentResume %>
                            </p><!--more-views__view__content__desc-->
                            <p class="more-views__view__content__views">
                                (<%- mostNews[i].views === 0 
                                ? "Nenhuma visualização" 
                                : mostNews[i].views + " visualizações" %>)
                            </p>

                            <a class="more-views__view__content__link-post" href="<%= mostNews[i].slug %>">Saiba Mais</a>
                        </main><!--last-news__more-views__view__content-->
                    </article>
                <% } %>
            </aside><!--last-news__more-views-->
        </div><!--last-news__grid-->
    </section><!--last-news-box-->

<%- include('partials/footer.html') %>