<%- include('partials/header.html') %>

    <main class="search-box">
        <h1 class="search-box__title">Sua busca:</h1>

        <div class="search-box__search container">
            <header class="search-box__search__header">
                <h2>44 Resultados</h2>
            </header><!--search-box__search__header-->

            <article class="search-box__search__new">
                <img class="search__new__img" src="/public/assets/imgs/mais-lidas.png" alt="Notícias mais lidas" />

                <main class="search__new__content">
                    <h3 class="search__new__content__title">Natureza</h3>

                    <p class="search__new__content__desc">
                        A importância da floresta do ártico para a biodiversidade mundial. Qual o impacto o degelo na fauna e flora?
                    </p><!--more-views__view__content__desc-->

                    <a class="search__new__content__post-link" href="/natureza">Saiba Mais</a>
                </main><!--search__new__content-->
            </article><!--search-box__search__new-->

            <article class="search-box__search__new">
                <img class="search__new__img" src="/public/assets/imgs/mais-lidas.png" alt="Notícias mais lidas" />

                <main class="search__new__content">
                    <h3 class="search__new__content__title">Natureza</h3>

                    <p class="search__new__content__desc">
                        A importância da floresta do ártico para a biodiversidade mundial. Qual o impacto o degelo na fauna e flora?
                    </p><!--more-views__view__content__desc-->

                    <a class="search__new__content__post-link" href="/natureza">Saiba Mais</a>
                </main><!--search__new__content-->
            </article><!--search-box__search__new-->

            <article class="search-box__search__new">
                <img class="search__new__img" src="/public/assets/imgs/mais-lidas.png" alt="Notícias mais lidas" />

                <main class="search__new__content">
                    <h3 class="search__new__content__title">Natureza</h3>

                    <p class="search__new__content__desc">
                        A importância da floresta do ártico para a biodiversidade mundial. Qual o impacto o degelo na fauna e flora?
                    </p><!--more-views__view__content__desc-->

                    <a class="search__new__content__post-link" href="/natureza">Saiba Mais</a>
                </main><!--search__new__content-->
            </article><!--search-box__search__new-->
        </div><!--search-box__search-->
    </main><!--search-box-->

<%- include('partials/footer.html') %>